<!-- Slides only -->
<br><br><br>
<div id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel">
  <div class="carousel-inner w-50 ">
    <div class="carousel-item active ">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-M3b0dy_e1BM1ptov7Z0yQJhulb9829QewQ&usqp=CAU"
        class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8XTmWsFGgverkbvjYdwqkDm4eAq64ZNw07ERu7euj9UERu4lkba0T8IvAC7hEDvNB_wE&usqp=CAU"
        class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpqtSv2Pf1RP2mqoTodxfW3K9fnoNpN9qXfg&usqp=CAU"
        class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<br><br><br>


<!-- With controls -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner ">
    <div class="carousel-item active">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ00DlvNkuorjSdfq8sKysJBxecaLcIEmiueQ&usqp=CAU"
        class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ00DlvNkuorjSdfq8sKysJBxecaLcIEmiueQ&usqp=CAU"
        class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbryR527i_vfqTsfr_LE99vDPGI2mDEtmus5BYStiEhmflvaPPqsp60pJqT5cYBJydb-Q&usqp=CAU"
        class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br><br><br>


<!--With indicators  -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner ">
    <div class="carousel-item active">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcEtTI3i5NpCsATXyNRdHjm91DxBafvOIpQA&usqp=CAU"
        class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMflMoJpIQOB06Mf9zwlUUWHz3N2AL60P8xOsbKFuC2DGgGaOCiZ8nE3UkkqVhhpeZ3sw&usqp=CAU"
        class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlT_1gzYYaRw0awhoBTzrnyAwbfvFx2YRCTszYFe1Grs_dqd2hlrgCPBCb1x0ad9h9si4&usqp=CAU"
        class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br><br><br>


<!-- With captions -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner ">
    <div class="carousel-item active">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMGWKaLKXs9fZPzJbED0DbFz_AlNqKr3t0Tw&usqp=CAU"
        class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0Qm57sxe5tbxMvdboaxOSHf9w_IrDt-i29pnNPEssn3J4zV7ZY5AUIFvjpJmNx3lu9fc&usqp=CAU"
        class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://cdn.wallpapersafari.com/70/80/zo9LSi.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br><br><br>

<!-- Crossfade -->
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://c4.wallpaperflare.com/wallpaper/843/284/16/beach-1920x1080-wave-wallpaper-preview.jpg"
        class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbgTY4Iu5DiUBJUriZTQ-kThIRayb7c64TGCUVsaD6jVChg2ZO1G6GmhE8Z_B1YBWluwQ&usqp=CAU"
        class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTObp0LlQGzSwKpPjwVDrSVa_wnKTBT8JQCHLMkLuPM7Sg78_56hoRmNYHkEjOfbBcYKc&usqp=CAU"
        class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br><br><br>


<!-- Individual .carousel-item interval -->
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img
        src="https://i.vimeocdn.com/video/862586427-4ce15e100d05ab66425d971064a071c290fc1abec42eeefe7e8e84bca5eb90b6-d_640x360.jpg"
        class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNZFQxPA-5kIXvaJaawL0wP2xjcbu0hJoSDQFmRYFf-ZbCqPZU1lXWtcrvgG3nCayUEqQ&usqp=CAU"
        class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_I-I_N40MD7MftO-RUCDANuFapaDA6nD5Z85SiXRSiLy2VshghoN415eYkc7ctSihgDw&usqp=CAU"
        class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br><br><br>


<!-- Disable touch swiping -->
<div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo3zSkBu4axnzvccTH9MohgvIjTmm6JZAcEaLWPbPFFee66Qisttp6lJEmDtQ3SLh1-PE&usqp=CAU"
        class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8qylsCywkHGCTK770wXMSBQ_i2j_ujccGyuV5IbbpX3RdxnGraAianqNgbi23JdVftBQ&usqp=CAU"
        class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://c4.wallpaperflare.com/wallpaper/568/769/133/nature-landscape-mist-blue-wallpaper-preview.jpg"
        class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br><br><br>


<!-- Dark variant -->
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNAzukj_Si6p6351mE091At5Oqe2R7gtFpkz51KYQFiHxWq6k6R2q8qoih_abxeT6MY5A&usqp=CAU"
        class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvASq0j2avtzlQYkDIh4PECaB7lL6FrUpICGyflY7gI_0GpWYrqPu7v6ckHYimmL6rVow&usqp=CAU"
        class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBR6CDaD0cSFdbbllVOtpb9knRekRes8Wood8DRuBEFtSbJA8XyfRjiEmfhqU-j8FAUik&usqp=CAU"
        class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>