
<br><br><br>
<button type="button" class="btn btn-danger" routerLink="accordion">accordion</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-warning" routerLink="alert">Alert</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-success" routerLink="badge">Badge</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-danger" routerLink="Breadcrumb">Breadcrumb</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-warning" routerLink="Buttons">Buttons</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-success" routerLink="button-group">Button group</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-danger" routerLink="Card">Card</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-warning" routerLink="Carousel">Carousel</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-success" routerLink="Close-button">Close button</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-danger" routerLink="Collapse">Collapse</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-warning" routerLink="Dropdowns">Dropdowns</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-success" routerLink="List-group">List-group</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-danger" routerLink="Modal">Modal</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-warning" routerLink="Navs-tabs">Navs-tabs</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-success" routerLink="Navbar">Navbar </button>&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-danger" routerLink="Offcanvas">Offcanvas</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-warning" routerLink="Pagination">Pagination</button>&nbsp;&nbsp;&nbsp;
<br><br><br>
<button type="button" class="btn btn-success" routerLink="Popovers">Popovers</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-danger" routerLink="Progress">Progress</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-warning" routerLink="Scrollspy">Scrollspy</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-success" routerLink="Spinners">Spinners</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-danger" routerLink="Toasts">Toasts</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-warning" routerLink="Tooltips">Tooltips</button>&nbsp;&nbsp;&nbsp;

<router-outlet></router-outlet>
